<div class="container">

  <div class="col">
    <h1>Vivero El Otoño</h1>
  </div>
  <hr>
  <div class="col">
    <img src="../assets/viveroPLants.png" class="img-fluid" alt="Vivero El Otoño">
  </div>
  <hr>
  <div class="col">
    <app-listar-planta></app-listar-planta>
  </div>

  <br>
  <br>
  <div>
    <footer class="w-full d-flex justify-content-center">
      <span class="fw-bold">Contact us: +57 3102105253 - info@viveroelotonio.com - @viveroelotonio</span>
    </footer>
  </div>

</div>
